certifi==14.5.14
chardet==2.3.0
colorama==0.3.3
cookies==2.2.1
fake-useragent==0.0.7
gevent==1.0.1
greenlet==0.4.5
grequests==0.2.0
progressbar-latest==2.4
requesocks==0.10.8
requests==2.5.3
six==1.9.0
SQLAlchemy==0.9.8
SQLAlchemy-Utils==0.29.8
